In [2]:
import pandas as pd
import numpy as np

ser1 = pd.Series([1,2,3,4])
print(ser1)
print(ser1[0:2])
print(ser1[[0,1,2]])

0    1
1    2
2    3
3    4
dtype: int64
0    1
1    2
dtype: int64
0    1
1    2
2    3
dtype: int64

In [2]:
sdata = {'python' : 1,  'pandas' : 2,  'matplotlib' : 3,  'numpy' : 4,  'scipy' : 5}
ser2 = pd.Series(sdata)
print(ser2)
print(sdata.keys())
print(sdata.items())
print(sdata.values())
'python' in sdata.keys()

python        1
pandas        2
matplotlib    3
numpy         4
scipy         5
dtype: int64
dict_keys(['python', 'pandas', 'matplotlib', 'numpy', 'scipy'])
dict_items([('python', 1), ('pandas', 2), ('matplotlib', 3), ('numpy', 4), ('scipy', 5)])
dict_values([1, 2, 3, 4, 5])

True

In [3]:
ser3 = pd.Series(sdata, index = ['apple', 'python', 'numpy', 'jupyter', 'scipy'])
print(ser3)
print('index:', ser3.index)
print('value:', ser3.values)
print(ser3[0:2])
print(ser3['apple':'numpy'])
print(ser3[['apple', 'numpy']])
ser3.name = 'try'
print(ser3)

apple      NaN
python     1.0
numpy      4.0
jupyter    NaN
scipy      5.0
dtype: float64
index: Index(['apple', 'python', 'numpy', 'jupyter', 'scipy'], dtype='object')
value: [nan  1.  4. nan  5.]
apple     NaN
python    1.0
dtype: float64
apple     NaN
python    1.0
numpy     4.0
dtype: float64
apple    NaN
numpy    4.0
dtype: float64
apple      NaN
python     1.0
numpy      4.0
jupyter    NaN
scipy      5.0
Name: try, dtype: float64

In [4]:
data = {'packages':['pandas', 'numpy', 'matplotlib', 'pandas', 'pandas'],
        'id':[1, 2, 3, 4, 5],
        'num':[1.2, 3.4, 4, 5.6, 7.0]}
frame = pd.DataFrame(data)
#DataFrame(data, columns=['id', 'num', 'packages'], index = ['A', 'B', 'C', 'D', 'E'])
#frame.sort_values('num', ascending = False)
#print(frame)
#print(frame[['id','num']])
#print(frame.loc[0:3,:])
#print(frame.loc[frame.id<4,:])
#print(type(frame.id))
#print(type(frame.loc[:,'id']))
frame.describe

<bound method NDFrame.describe of      packages  id  num
0      pandas   1  1.2
1       numpy   2  3.4
2  matplotlib   3  4.0
3      pandas   4  5.6
4      pandas   5  7.0>

In [5]:
data = pd.DataFrame(np.arange(16).reshape(4,4))
data[(data/2-1)%3==0] = np.nan
print(data)

#丢弃na
print(data.dropna())
print(data.dropna(how = 'all'))
print(data.dropna(axis = 1))

#填充na
print(data.fillna(0))
print(data.fillna({0:1, 2:10}))
print(data.fillna(method = 'bfill', limit = 1))
print(data.fillna(method = 'ffill', limit = 1))

      0   1     2   3
0   0.0   1   NaN   3
1   4.0   5   6.0   7
2   NaN   9  10.0  11
3  12.0  13   NaN  15
     0  1    2  3
1  4.0  5  6.0  7
      0   1     2   3
0   0.0   1   NaN   3
1   4.0   5   6.0   7
2   NaN   9  10.0  11
3  12.0  13   NaN  15
    1   3
0   1   3
1   5   7
2   9  11
3  13  15
      0   1     2   3
0   0.0   1   0.0   3
1   4.0   5   6.0   7
2   0.0   9  10.0  11
3  12.0  13   0.0  15
      0   1     2   3
0   0.0   1  10.0   3
1   4.0   5   6.0   7
2   1.0   9  10.0  11
3  12.0  13  10.0  15
      0   1     2   3
0   0.0   1   6.0   3
1   4.0   5   6.0   7
2  12.0   9  10.0  11
3  12.0  13   NaN  15
      0   1     2   3
0   0.0   1   NaN   3
1   4.0   5   6.0   7
2   4.0   9  10.0  11
3  12.0  13  10.0  15

In [6]:
frame = pd.DataFrame(np.arange(16).reshape(4,4), 
                 index = [['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns = [['pandas', 'pandas', 'numpy', 'numpy'],
                           ['Series', 'DataFrame', 'array', 'array']])
print(frame)
print(frame['numpy'])
print(frame.loc[:,'numpy'].loc[:,'array'])
print(frame.un stack()) #关于索引展开

    pandas           numpy
    Series DataFrame array array
a 1      0         1     2     3
  2      4         5     6     7
b 1      8         9    10    11
  2     12        13    14    15
     array  array
a 1      2      3
  2      6      7
b 1     10     11
  2     14     15
     array  array
a 1      2      3
  2      6      7
b 1     10     11
  2     14     15
  pandas                   numpy
  Series     DataFrame     array
       1   2         1   2     1   2   1   2
a      0   4         1   5     2   6   3   7
b      8  12         9  13    10  14  11  15

In [7]:
df = pd.DataFrame({'key':['b', 'b', 'a', 'c', 'a', 'b'], 'data1':range(6)})
print(df)
dummies = pd.get_dummies(df['key'], prefix = 'key')
df_with_dummy = df[['data1']].join(dummies)
print(df_with_dummy)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5
   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [8]:
# 结合使用dummy和cut

df = pd.DataFrame({'name':['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], 'score':np.arange(10)})
print(df)
dummies = pd.get_dummies(pd.cut(df['score'], [0, 3, 6, 10]), prefix='interval')
df_with_dummy = df[['name']].join(dummies)
print(df_with_dummy)

  name  score
0    a      0
1    b      1
2    c      2
3    d      3
4    e      4
5    f      5
6    g      6
7    h      7
8    i      8
9    j      9
  name  interval_(0, 3]  interval_(3, 6]  interval_(6, 10]
0    a                0                0                 0
1    b                1                0                 0
2    c                1                0                 0
3    d                1                0                 0
4    e                0                1                 0
5    f                0                1                 0
6    g                0                1                 0
7    h                0                0                 1
8    i                0                0                 1
9    j                0                0                 1

In [9]:
# 数据框一个单元格放置列表

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
df.at[0, 'key1'] = ['a', 'b']
print(df)

     key1 key2     data1     data2
0  [a, b]  one  0.394450  0.388110
1       a  two -0.762314 -2.217107
2       b  one  1.196130  0.685470
3       b  two  1.232529 -0.080002
4       a  one -0.237069  0.227329

In [3]:
# groupby对数据进行分组

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})

df['data1'].groupby(df['key1']).mean()
df['data1'].groupby([df['key1'], df['key2']]).min()

# 语法糖

df.groupby('key1')[['data1']].max()
df.groupby(['key1', 'key2'])[['data1']].count()

# 函数： 
# + min, max, first, last 
# + sum, mean, count, prop 
# + size, median, std, var

           data1
key1 key2
a    one       2
     two       1
b    one       1
     two       1

In [11]:
df = pd.DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})
print(df)
for name,group in df.groupby('key1'):
    print(name)
    print(group)
    
for (key1, key2),group in df.groupby(['key1', 'key2']):
    print(key1, key2)
    print(group)

  key1 key2     data1     data2
0    a  one  0.658271 -0.420489
1    a  two -0.831212  0.713962
2    b  one  0.035289  0.216395
3    b  two  0.465357 -1.099361
4    a  one  0.591426  0.444316
a
  key1 key2     data1     data2
0    a  one  0.658271 -0.420489
1    a  two -0.831212  0.713962
4    a  one  0.591426  0.444316
b
  key1 key2     data1     data2
2    b  one  0.035289  0.216395
3    b  two  0.465357 -1.099361
a one
  key1 key2     data1     data2
0    a  one  0.658271 -0.420489
4    a  one  0.591426  0.444316
a two
  key1 key2     data1     data2
1    a  two -0.831212  0.713962
b one
  key1 key2     data1     data2
2    b  one  0.035289  0.216395
b two
  key1 key2     data1     data2
3    b  two  0.465357 -1.099361

In [12]:
# 对列进行分组

people = pd.DataFrame(np.random.randn(5,5),
                   columns = ['a','b','c','d','e'],
                   index = ['Joe','Steve','Wes','Jim','Travis'])

people.loc[2:3,['b','c']] = np.nan
#print(people)
mapping = {'a':'red','b':'red','c':'blue',
           'd':'blue','e':'red','f':'orange'}
people.groupby(mapping, axis=1).sum()
people.groupby(len).sum()

key_list = ['one','one','one','two','two']
people.groupby([len, key_list]).sum()

              a         b         c         d         e
3 one -0.475561 -1.293641  1.822582 -1.799932 -1.443145
  two  0.448764  0.077255 -1.049274  1.113921 -0.689673
5 one -0.604634  0.243803  0.461216  1.094470 -1.104318
6 two  0.616319  3.182136  0.105247  0.180496 -2.317849

In [13]:
# 分层索引的聚合

# 方法1：

columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'CN', 'CN'],[1,3,5,1,3]],names=['cty','tenor'])
hier_df = pd.DataFrame(np.random.randn(4,5), columns = columns)

# 方法2：

hier_df = pd.DataFrame(np.random.randn(4,5), columns = [['US','US','US','CN','CN'],[1,3,5,1,3]])
hier_df.columns.names = ['city', 'tenor']
#hier_df.index.names = ['name1', 'name2]
print(hier_df)

hier_df.groupby(level='city',axis=1).count()

city         US                            CN
tenor         1         3         5         1         3
0     -0.084960 -0.336258  0.470774 -1.616427  0.052487
1      1.294000  1.594847  0.274372 -1.127044 -0.776861
2      0.638707  0.236794  0.321819 -0.195381  0.776987
3      0.257561 -0.978622  0.501471 -1.038701  0.084017

city  CN  US
0      2   3
1      2   3
2      2   3
3      2   3

In [13]:
# agg应用自定义函数 

# 自定义极差函数
def peak_to_peak(arr):
    result = arr.max() - arr.min()
    return result

tips = pd.read_csv('tips.csv')

# 添加“小费占总额百分比”的列
tips['tip_pct'] = tips['tip']/tips['total_bill']
tips[:6]

# 应用自定义函数
tips.groupby(['sex','smoker'])[['tip_pct']].agg(peak_to_peak)

# 对多列应用多种函数
tips.groupby(['sex','smoker'])[['tip','tip_pct']].agg(['mean','max',peak_to_peak])

                    tip                      tip_pct
                   mean   max peak_to_peak      mean       max peak_to_peak
sex    smoker
Female No      2.914000  5.20         4.19  0.155622  0.252672     0.195876
       Yes     3.046667  5.00         4.00  0.213473  0.325733     0.208830
Male   No      3.112642  7.58         6.33  0.160993  0.228050     0.156246
       Yes     2.888000  5.00         3.24  0.154222  0.205577     0.126650

In [14]:
# 分组级运算和转换

df = pd.DataFrame({'key1':['a','a','b','b','a'],
                'key2':['one','two','one','two','one'],
                'data1':np.random.randn(5),
                'data2':np.random.randn(5)})

k1_means = df.groupby('key1').mean().add_prefix('mean_')
pd.merge(df, k1_means, left_on='key1', right_index = True)
df.groupby('key1').transform(np.mean) # 同 group_by %>% mutate %>% ungroup

      data1     data2
0 -0.026539 -0.495510
1 -0.026539 -0.495510
2  0.566851 -0.593156
3  0.566851 -0.593156
4 -0.026539 -0.495510

In [25]:
def top(df,n=5,column='tip_pct'):
    return df.sort_values(by=column)[-n:]

top(tips,n=6)

# 分组应用函数
tips.groupby('smoker').apply(top)

# 分组应用函数并传参
tips.groupby(['sex','smoker']).apply(top, n = 2, column = 'total_bill')

                  total_bill   tip     sex smoker   day    time  size  \
sex    smoker
Female No     85       34.83  5.17  Female     No  Thur   Lunch     4
              11       35.26  5.00  Female     No   Sun  Dinner     4
       Yes    73       25.28  5.00  Female    Yes   Sat  Dinner     2
              72       26.86  3.14  Female    Yes   Sat  Dinner     2
Male   No     23       39.42  7.58    Male     No   Sat  Dinner     4
              59       48.27  6.73    Male     No   Sat  Dinner     4
       Yes    83       32.68  5.00    Male    Yes  Thur   Lunch     2
              56       38.01  3.00    Male    Yes   Sat  Dinner     4

                   tip_pct
sex    smoker
Female No     85  0.148435
              11  0.141804
       Yes    73  0.197785
              72  0.116902
Male   No     23  0.192288
              59  0.139424
       Yes    83  0.152999
              56  0.078927

In [15]:
# 分位数

frame=pd.DataFrame({'data1':np.random.randn(1000),
                 'data2':np.random.randn(1000)})

factor = pd.cut(frame.data1, 4)
factor[:10]

def get_status(group):
    return {
        'min':group.min(),
        'max':group.max(),
        'count':group.count(),
        'mean':group.mean()
    }
frame.data2.groupby(factor).apply(get_status).unstack()

                  count       max      mean       min
data1
(-2.706, -1.202]  130.0  2.482387 -0.030813 -2.540840
(-1.202, 0.296]   508.0  2.985065  0.059426 -2.887883
(0.296, 1.794]    330.0  3.460507  0.116668 -3.124257
(1.794, 3.291]     32.0  1.683504  0.229934 -1.117032

In [36]:
# 透视表

tips.pivot_table(index = ['sex','smoker'])

                   size       tip   tip_pct  total_bill
sex    smoker
Female No      2.650000  2.914000  0.155622   19.601000
       Yes     1.666667  3.046667  0.213473   18.403333
Male   No      2.641509  3.112642  0.160993   19.440000
       Yes     2.400000  2.888000  0.154222   19.771000

In [39]:
tips.pivot_table(['tip_pct','size'], index = ['sex','day'], columns='smoker')

# 加入分项小计， 默认 aggfunc 为 mean
tips.pivot_table(['tip_pct','size'], index = ['sex','day'], columns='smoker', margins=True)

              tip_pct                          size
smoker             No       Yes       All        No       Yes       All
sex    day
Female Sat   0.146062  0.213473  0.161618  2.400000  1.666667  2.230769
       Sun   0.165208       NaN  0.165208  3.000000       NaN  3.000000
       Thur  0.165082       NaN  0.165082  2.500000       NaN  2.500000
Male   Sat   0.153424  0.154363  0.153674  2.727273  2.500000  2.666667
       Sun   0.168870       NaN  0.168870  2.615385       NaN  2.615385
       Thur  0.153344  0.153660  0.153435  2.400000  2.000000  2.285714
All          0.159522  0.167896  0.160788  2.643836  2.230769  2.581395

In [42]:
tips.groupby(['sex','day'])['tip_pct','size'].mean() 
tips.pivot_table('tip_pct', index = ['sex', 'smoker'], columns='day', aggfunc=len, margins=True, fill_value=0)

day             Sat   Sun  Thur   All
sex    smoker
Female No      10.0   8.0   2.0  20.0
       Yes      3.0   0.0   0.0   3.0
Male   No      22.0  26.0   5.0  53.0
       Yes      8.0   0.0   2.0  10.0
All            43.0  34.0   9.0  86.0

In [44]:
# 交叉表

pd.crosstab(tips.sex, tips.smoker, margins=True)
pd.crosstab([tips.sex, tips.smoker], tips.day, margins=True)

day            Sat  Sun  Thur  All
sex    smoker
Female No       10    8     2   20
       Yes       3    0     0    3
Male   No       22   26     5   53
       Yes       8    0     2   10
All             43   34     9   86

In [6]:
# 读写文件

df.to_excel('try.xlsx', sheet_name = 'Sheet1')
frame = pd.read_excel('try.xlsx', 'Sheet1', index_col=None, na_values=['NA'])
frame

      data1     data2 key1 key2
0 -0.301597 -0.576311    a  one
1  1.196534 -0.461711    a  two
2  0.200715  0.195816    b  one
3  0.335171  0.969410    b  two
4  1.374061 -1.194680    a  one